<mat-card class="reporte-card" *ngFor="let reporte of reportes">
  <mat-card-header>
    <mat-card-title >{{reporte.titulo}}</mat-card-title>
    <mat-card-subtitle>{{reporte.fecha}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
    <b>{{reporte.funcion}}</b>
    <br>
    <p>{{reporte.comentario}}</p>
    <p>Ruta: {{reporte.ruta}}</p>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="convert(reporte.titulo)">PDF <mat-icon class="example-icon">save_alt</mat-icon ></button>
    <button (click)="onClick(reporte.titulo)" mat-button>Revertir <mat-icon class="example-icon">arrow_right_alt</mat-icon ></button>  </mat-card-actions>
</mat-card>