<mat-card class="formulario-principal">
  <form class="example-form" (ngSubmit)="clear()" *ngIf="active">
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Nombre del proyecto: *" #NombreProyecto >
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dp3" placeholder="Fecha" #FechaIncidencia disabled>
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
    
    <app-colores (dataOut)="getColor($event)" class="hola"></app-colores>
    <br>
    Ruta archivo: 
    <button md-mini-fab type="button" onclick="document.getElementById('fileToUpload').click()">
     <input id="fileToUpload" type="file" style="display:none;" #RutaArchivo><i class="material-icons">description</i>
    </button>
 
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Codigo: *" #CodigoIncidencia [ngModel]="valoresGenerales" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Comentarios:" #ComentarioIncidencia></textarea>
    </mat-form-field>
    <div class="footer">
      <button class="buttonColor" mat-button (click)="AfegirReporte(NombreProyecto.value, FechaIncidencia.value, RutaArchivo.value, CodigoIncidencia.value, ComentarioIncidencia.value)" type="submit">Añadir</button>
      <div class="error" *ngIf="titulo_error ||  fecha_error || ruta_error || funcion_error">
        <p>Faltan campos por rellenar</p>
      </div>
    </div>
  </form>
</mat-card>



