.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.caja { 
  float:left;
  margin-left:500px; 
}
.contenedor{
  height: 49%;
  background-color: #D7FCF3  ;
  margin: 1% 1%;
  display: inline-block;
}
.buttonSize{
  width: 200px
}